<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
    
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  

  <app-login></app-login>

</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
    <button type="button" class="btn btn-info btn-block" (click)="sendMessage()">Gabriel Moody Bravo</button>
  </li>
</ul>

</div>
<!--
<flash-messages></flash-messages>
    <router-outlet></router-outlet>
    <app-nav></app-nav>
    <app-login></app-login>

    <img width="300" src="http://www.mensahdesigns.com/images/logoTeeth_grapes.png">
-->